[submodule "Blocks-and-Chains/Kumar_Arpit"]
	path = Blocks-and-Chains/Kumar_Arpit
	url = https://github.com/Ghooster/BlocksAndChains
[submodule "Blocks-and-Chains/Devansh_Jha"]
	path = Blocks-and-Chains/Devansh_Jha
	url = https://github.com/dkjha20/Blocks-and-Chains.git
[submodule "Blocks-and-Chains/Shubh_Agarwal"]
	path = Blocks-and-Chains/Shubh_Agarwal
	url = https://github.com/shubh101295/BlockChain-basics
[submodule "Blocks-and-Chains/Kushagra_Sharma"]
	path = Blocks-and-Chains/Kushagra_Sharma
	url = https://github.com/RoyalPhoenix-bot/BlockChain
[submodule "Blocks-and-Chains/Akhil_Agrawal"]
	path = Blocks-and-Chains/Akhil_Agrawal
	url = https://github.com/akhilagrawal1001/Blocks_and_Chains_Assignments
[submodule "Blocks-and-Chains/Aditya_Tanwar"]
	path = Blocks-and-Chains/Aditya_Tanwar
	url = https://github.com/cliche-niche/ACABaC
[submodule "Blocks-and-Chains/Nakul_Patel"]
	path = Blocks-and-Chains/Nakul_Patel
	url = https://github.com/nakul1412/blockchain.git
[submodule "Blocks-and-Chains/Sujal_Harkut"]
	path = Blocks-and-Chains/Sujal_Harkut
	url = https://github.com/sujalharkut/BLOCKCHAIN_Assignments.git
[submodule "Blocks-and-Chains/Tarun_Kanodia"]
	path = Blocks-and-Chains/Tarun_Kanodia
	url = https://github.com/tarunkanodia40/Blocks-and-Chains-Assignments
[submodule "Blocks-and-Chains/Mandar_Wayal"]
	path = Blocks-and-Chains/Mandar_Wayal
	url = https://github.com/mandar7-git/BlockChainAssn_Mandar.git
[submodule "Blocks-and-Chains/Arihant_Jha"]
	path = Blocks-and-Chains/Arihant_Jha
	url = https://github.com/arihantjha/Blocks_and_chains/
[submodule "Blocks-and-Chains/Saurabh_Sontakke"]
	path = Blocks-and-Chains/Saurabh_Sontakke
	url = https://github.com/SaurabhS31/Blocks-and-Chains-
[submodule "Blocks-and-Chains/Arnav_Gupta"]
	path = Blocks-and-Chains/Arnav_Gupta
	url = https://github.com/arnav4567/aca_blockchain.git
[submodule "Blocks-and-Chains/Kinshuk_Siyol"]
	path = Blocks-and-Chains/Kinshuk_Siyol
	url = https://github.com/kinshuk0810/Blocks-and-Chains
[submodule "Blocks-and-Chains/Ashutosh_Sharma"]
	path = Blocks-and-Chains/Ashutosh_Sharma
	url = https://github.com/asharma8602/BlockChain.git
[submodule "Blocks-and-Chains/Aditi_Goyal"]
	path = Blocks-and-Chains/Aditi_Goyal
	url = https://github.com/aditi-goyal-257/BlockChain
[submodule "Blocks-and-Chains/Bipplav_Tiwari"]
	path = Blocks-and-Chains/Bipplav_Tiwari
	url = https://github.com/BipplavTiwari/Blocks_and_chains
